.editor-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.left-panel {
  width: 200px;
  border-right: 1px solid #ddd;
  padding: 10px;
}

.canvas-panel {
  flex: 1; /* 占据中间剩余空间 */
  background-color: #f0f2f5;
  padding: 20px;
  overflow-y: auto;
}

.right-panel {
  width: 300px;
  border-left: 1px solid #ddd;
  padding: 10px;
  background: white;
}

.component-item {
  background: white;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px dashed #ccc;
  cursor: pointer;
}

.component-item.selected {
  border: 2px solid #1890ff; /* 选中高亮 */
}